<a href="https://colab.research.google.com/github/nimanaseri/Python-Language/blob/main/range()_to_a_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python does not unpack the result of the range() function.

So we have to use argument-unpacking operator i.e. *.

In [22]:
a = [*range(0,50,2)]
print (a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

USE AN ASTERISK TO PRINT A RANGE ON ONE LINE

In [21]:
a = range(0,30,2)
print (*a)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28

USE A FOR-LOOP TO PRINT A RANGE ON SEPARATE LINES

In [20]:
for i in range(0,30,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28